/* Job List Page */
.jobListPage {
    background: url("../../assets/bg4.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
    min-height:79vh;
  }
  
  /* Title */
  .jobListPage h3 {
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  
  /* Filter Section */
  .filterSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  /* Search Bar */
  .searchBar {
    width: 250px;
    padding: 10px;
    border: 2px solid #00d4ff;
    border-radius: 8px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.15);
  }
  
  /* Filter Dropdown */
  .filterDropdown {
    padding: 10px;
    border: 2px solid #00d4ff;
    border-radius: 8px;
    font-size: 16px;
    background:rgba(0, 0, 0, 0.15);
  }
  
  /* Job Grid */
  .jobGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: 90%;
    
  }
  
  /* Job Card */
  .jobCard {
    background: rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgb(0, 212, 255,0.5);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  .jobCard h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #00d4ff;
  }
  
  .jobCard p {
    font-size: 16px;
    font-weight: 500;
    color: whitesmoke;
  }
  
  /* Hover Effect */
  .jobCard:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px rgb(0, 212, 255,0.5);
  }
  
  /* Back Button */
  .backButton{
    width: 250px;
    padding: 12px;
    margin-top: 30px;
    background: linear-gradient(90deg, #007bff, #00d4ff);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .backButton:hover {
    background: #0056b3;
    transform: scale(1.05);
  }
  
  .applyButton{
    width: 150px;
    padding: 12px;
    margin-top: 30px;
    background: linear-gradient(90deg, #007bff, #00d4ff);
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right:auto;

  }