.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-image: url("../Assets/istockphoto-1208620307-612x612.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  .stats-cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .stat-card {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .stat-card:hover {
    transform: scale(1.05);
  }
  
  .chart-container {
    width: 400px;
    margin-bottom: 20px;
  }
  
  .recent-proposals {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recent-proposals ul {
    list-style-type: none;
    padding: 0;
  }
  
  .recent-proposals li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .recent-proposals li span {
    font-size: 14px;
    color: gray;
  }
  