.register-container {
    width: 350px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  h2 {
    color:white;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background:rgb(0, 234, 255);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: rgb(0, 234, 255);
  }
  
  p {
    margin-top: 10px;
  }
  