/* Home Page Styling */
.homeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  padding: 0 10%;
  background-image: url("../../assets/bg4.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  color: white;
}

/* Left Section */
.heroText {
  max-width: 500px;
}

.heroText h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2;
}

.heroText .highlight {
  background: linear-gradient(90deg, #007bff, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroText p {
  font-size: 1rem;
  opacity: 0.8;
  margin: 10px 0 20px;
}

/* CTA Buttons */
.ctaButtons {
  display: flex;
  gap: 15px;
}

/* .btn {
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
} */

.btnPrimary {
  background: linear-gradient(90deg, #007bff, #00d4ff);
  color: white;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btnPrimary:hover {
  opacity: 0.9;
}

.btnSecondary {
  background: transparent;
  border: 2px solid #00d4ff;
  color: #00d4ff;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btnSecondary:hover {
  background: #00d4ff;
  color: #0b0f19;
}

/* Right Section - Image/Video */
.heroImage {
  width: 100%;
  max-width:550px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePlaceholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  background: rgba(255, 255, 255, 0.1);
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 212, 255, 0.5);
}

.imagePlaceholder img{
  width:100%;
  height: 100%;
  object-fit: cover;
}


